/* ### Header ### */
.header {
    background-color: #212535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.header h1 {
    /* margin-right: 100px; */
    font-size: 24px;
}

.nav {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.nav-button {
    display: inline-block;
    margin-right: 10px;
}

.nav-button a {
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
}

.nav-button.active a {
    background-color: #0061f2;
    color: white;
}

/* GridStack */
.grid-stack {
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.grid-stack-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.grid-stack-item-content {
    padding: 10px;
}

/* Buttons */
ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #0061f2;
    color: #fff;
}

.btn-secondary {
    background-color: #fff;
    color: #0061f2;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    color: #000;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}